<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TimeWindowAllowManual</key>
	<true/>
	<key>TimeWindowStart</key>
	<string>9:00PM</string>
	<key>TimeWindowEnd</key>
	<string>4:00AM</string>
</dict>
</plist>